<!DOCTYPE html>
<html>

<head>
  <title>POC AWS - DataLake</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

<div class="container">
  <div class="row">
    <form method="POST" id="form-message" name="form-message">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Generate message to s3</h3>
      <div class="col-md-6">
        <div class="form-group">
          <label for="setor">Example select</label>
          <select class="form-control" id="setor" name="setor">
            <option>PAOFF</option>
            <option>PAON</option>
            <option>AFOFF</option>
            <option>AFON</option>
            <option>WEON</option>
            <option>WEOFF</option>
          </select>
        </div>        
        <div class="form-group">
          <label for="chassi">Chassi</label>
          <input type="text" class="form-control" maxlength="18" id="chassi" name="chassi" 
              placeholder="Entre com o Chassi" value="<%= chassi %>" required>
        </div>
        <div class="form-group">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" maxlength="10" id="modelo" name="modelo" 
              placeholder="Entre com o Modelo" value="<%= modelo %>" required>
        </div>       
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="chassi">Cor</label>
          <input type="text" class="form-control" maxlength="12" id="cor" name="cor" 
              placeholder="Entre com a Cor" value="<%= cor %>" required>
        </div>        
        <div class="form-group">
          <label for="datein">Data Entrada</label>
          <div class="row">
            <div class="col-md-6">
              <input type="date" class="form-control" id="date_in" name="date_in" value="<%= date_in %>" required>
            </div>
            <div class="col-md-6">
              <input type="time" class="form-control" id="time_in" name="time_in" value="<%= time_in %>" required>          
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateout">Data Saida</label>
          <div class="row">
            <div class="col-md-6">
              <input type="date" class="form-control" id="date_out" name="date_out" value="<%= date_out %>" required>
            </div>
            <div class="col-md-6">
              <input type="time" class="form-control" id="time_out" name="time_out" value="<%= time_out %>" required>          
            </div>
          </div>
        </div>
      </div>
    </div><!-- row -->
    <div>
      <div class="alert alert-warning" role="alert">Arquivo criado com sucesso</div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>  
</div>

<script type="text/javascript">

  $(function() { 

    $("alert").hide();

  });

</script>

</body>


</html>
